services:  
  wallet-db:  
    image: postgres:15  
    environment:  
      POSTGRES_USER: aries  
      POSTGRES_PASSWORD: changeit  
    ports:  
      - "5432:5432"  
    volumes:  
      - ./wallet-db-data:/var/lib/postgresql/data  
    healthcheck:  
      test: ["CMD-SHELL", "pg_isready -U aries"]  
      interval: 5s  
      timeout: 5s  
      retries: 5  
  
  # TAILS SERVER  
  tails-server:  
      image: ghcr.io/bcgov/tails-server:latest  
      ports:  
        - 6543:6543  
      environment:  
        - GENESIS_URL=http://test.bcovrin.vonx.io/genesis  
      command: >  
        tails-server  
        --host 0.0.0.0  
        --port 6543  
        --storage-path /tmp/tails-files  
        --log-level info  
  
  # ISSUER (GOVERNMENT)  
  agent-issuer:  
    image: ghcr.io/openwallet-foundation/acapy-agent:py3.12-1.3.2  
    ports:  
      - "8001:8001"  
      - "8000:8000"  
    environment:  
      - ACAPY_LABEL=Emissor_Gov  
      - ACAPY_ENDPOINT=http://agent-issuer:8000  
      - ACAPY_GENESIS_URL=http://test.bcovrin.vonx.io/genesis  
      - ACAPY_WALLET_TYPE=askar-anoncreds  
      - ACAPY_WALLET_NAME=issuer_wallet  
      - ACAPY_WALLET_KEY=insecure  
      - ACAPY_AUTO_PROVISION=true  
      - ACAPY_LOG_LEVEL=info  
      - ACAPY_WALLET_STORAGE_TYPE=postgres  
      - ACAPY_WALLET_STORAGE_CONFIG={"url":"wallet-db:5432","max_connections":5}  
      - ACAPY_WALLET_STORAGE_CREDS={"account":"aries","password":"changeit","admin_account":"aries","admin_password":"changeit"}  
      - ACAPY_TAILS_SERVER_BASE_URL=http://tails-server:6543  
    command:  
      - start  
      - --inbound-transport  
      - http  
      - '0.0.0.0'  
      - '8000'  
      - --outbound-transport  
      - http  
      - --admin  
      - '0.0.0.0'  
      - '8001'  
      - --admin-insecure-mode  
      - --auto-accept-invites  
      - --auto-accept-requests  
      - --public-invites  
      - --notify-revocation  
      - --monitor-revocation-notification  
    depends_on:  
      wallet-db:  
        condition: service_healthy  
      tails-server:  
        condition: service_started  
  
  # HOLDER (BOT)  
  agent-holder:  
    image: ghcr.io/openwallet-foundation/acapy-agent:py3.12-1.3.2  
    ports:  
      - "8011:8011"  
      - "8010:8010"  
    environment:  
      - ACAPY_LABEL=Agente_AI_Usuario  
      - ACAPY_ENDPOINT=http://agent-holder:8010  
      - ACAPY_GENESIS_URL=http://test.bcovrin.vonx.io/genesis  
      - ACAPY_WALLET_TYPE=askar-anoncreds  
      - ACAPY_WALLET_NAME=holder_wallet  
      - ACAPY_WALLET_KEY=insecure  
      - ACAPY_AUTO_PROVISION=true  
      - ACAPY_LOG_LEVEL=info  
      - ACAPY_WALLET_STORAGE_TYPE=postgres  
      - ACAPY_WALLET_STORAGE_CONFIG={"url":"wallet-db:5432","max_connections":5}  
      - ACAPY_WALLET_STORAGE_CREDS={"account":"aries","password":"changeit","admin_account":"aries","admin_password":"changeit"}  
      - ACAPY_TAILS_SERVER_BASE_URL=http://tails-server:6543  
    command:  
      - start  
      - --inbound-transport  
      - http  
      - '0.0.0.0'  
      - '8010'  
      - --outbound-transport  
      - http  
      - --admin  
      - '0.0.0.0'  
      - '8011'  
      - --admin-insecure-mode  
      - --auto-accept-invites  
      - --auto-accept-requests  
      - --auto-respond-credential-offer  
      - --auto-respond-presentation-request  
      - --auto-store-credential  
      - --monitor-revocation-notification  
    depends_on:  
      wallet-db:  
        condition: service_healthy  
  
  # VERIFIER (BANK)  
  agent-verifier:  
    image: ghcr.io/openwallet-foundation/acapy-agent:py3.12-1.3.2  
    ports:  
      - "8021:8021"  
      - "8020:8020"  
    environment:  
      - ACAPY_LABEL=Banco_OpenFinance  
      - ACAPY_ENDPOINT=http://agent-verifier:8020  
      - ACAPY_GENESIS_URL=http://test.bcovrin.vonx.io/genesis  
      - ACAPY_WALLET_TYPE=askar-anoncreds  
      - ACAPY_WALLET_NAME=verifier_wallet  
      - ACAPY_WALLET_KEY=insecure  
      - ACAPY_AUTO_PROVISION=true  
      - ACAPY_LOG_LEVEL=info  
      - ACAPY_WALLET_STORAGE_TYPE=postgres  
      - ACAPY_WALLET_STORAGE_CONFIG={"url":"wallet-db:5432","max_connections":5}  
      - ACAPY_WALLET_STORAGE_CREDS={"account":"aries","password":"changeit","admin_account":"aries","admin_password":"changeit"}  
      - ACAPY_TAILS_SERVER_BASE_URL=http://tails-server:6543  
    command:  
      - start  
      - --inbound-transport  
      - http  
      - '0.0.0.0'  
      - '8020'  
      - --outbound-transport  
      - http  
      - --admin  
      - '0.0.0.0'  
      - '8021'  
      - --admin-insecure-mode  
      - --auto-accept-invites  
      - --auto-accept-requests  
    depends_on:  
      wallet-db:  
        condition: service_healthy